.typography-base(@size: 16px) {
	font-size: @size;
	font-family: Arial;
	color: red;

	@media (min-width:80px) {
		color: blue;
	}
}

.button-base() {
	.typography-base(30px);
	border-radius: 5px;

	@media (min-width:80px) {
		border-radius: 3px;
	}
}


.something {
	.typography-base();

	@media (min-width:80px) {
		color: gray;
	}
}

.something {
	.typography-base();

	font-size: 50px;
}

.something-else {
	.typography-base();

	font-size: 50px;

	@media (min-width:80px) {
		color: pink;
	}
}

.a-button {
	.button-base();
}